node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.dockerignore
.git
.vscode
.next/cache


.DS_Store
.env
*.local

.git
.gitignore
.gitattributes


.next
out
dist


.vscode
.idea
*.swp


*.cache
coverage
*.lock

Dockerfile
README.md
